*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4eadf;
    color: #3b2416;
    line-height: 1.6;
}

header{
    background: #8b5e3c;
    padding: 18px 8%;
    position: sticky;
    top: 0;
    z-index:0;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
}

.logo h2{
    color: #f8ead8;
    font-size: 30px;
}

.navLinks {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navLinks a{
    color: #f8ead8;
    text-decoration: none;
    font-weight: bold;
}

.navLinks a:hover{
    color: #d6a76c;
}

#menuBtn {
    display: none;
    background: #d6a76c;
    color: #3b2416;
    border: none;
    padding: 6px 12px;
    font-size: 28px;
    border-radius: 28px;
    cursor: pointer;
}

.hero{
    min-height:90vh;
    background-image: url("hero.png");
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 40px 8%;
}

.hero-content{
    max-width: 750px;
    background:  rgba(75, 46, 31,0.45);
    padding: 35px;
    border-radius: 18px;
}

.hero h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.hero p{
    font-size: 20px;
    margin-bottom: 15px;
}

.hero h3{
    font-size: 24px;
    color: #f1c27d;
}

section{
    padding: 60px 8%;
}

section h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #4b2e1f;
}

.story {
    text-align: left;
    background: #f4eadf;
}

.story img{
    width: 100%;
    max-width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 10px 25px rgba(75,46,31, 0.35);
}

.story p{
    max-width: 800px;
    margin: auto;
    font-size: 18px;
}

.menu {
    background:#e7d2bd;
}

.menu-grid {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 25px;
}

.menu-item{
    background: #fff7ed;
    padding: 18px;
    border-radius: 18px;
    text-align: center;
    
}


