*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4eadf;
    color: #3b2416;
    line-height: 1.6;
}

header{
    background: beige;
    padding: 18px 8%;
    position: sticky;
    top: 0;
    z-index:0;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
}

.logo h2{
    color: #f8ead8;
    font-size: 30px;
}

.navLinks {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navLinks a{
    color: #f8ead8;
    text-decoration: none;
    font-weight: bold;
}

.navLinks a:hover{
    color: #d6a76c;
}

#menuBtn {
    display: none;
    background: #d6a76c;
    color: #3b2416;
    border: none;
    padding: 6px 12px;
    font-size: 28px;
    border-radius: 28px;
    cursor: pointer;
}

.hero{
    min-height: 90vh;
    background:linear-gradient(rgba(59,36,33,0.65));
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 40px 8%;
}

.hero-content{
    max-width: 750px;
    background:  rgba(75, 46, 31,0.45);
    padding: 35px;
    border-radius: 18px;
}

.hero h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.hero p{
    font-size: 20px;
    margin-bottom: 15px;
}

.hero h3{
    font-size: 24px;
    color: #f1c27d;
}

section{
    padding: 60px 8%;
}


